{% extends "layout.html" %}
 
{% block content %}
  
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>{{name}}</b><br>
      100 followers

      {% if showForm %}
  <form action="/submit" method="POST">
    <h3>Enter New Tweet</h3>
    <label for="name_field" class="tweet-label">Name:</label></br>
    <input name="name" type="text" id="name_field" class="tweet-info" value="{{name}}" /></br>

    <label for="text_field" class="tweet-label">Text:</label>
    <input name="text" type="text" id="text_field" class="tweet-info" style="width: 300px;" />

    <input type="submit" value="Submit" />
  </form>
{% endif %}
    </div>
    <div class="col-md-9">
    
      <!-- display tweets here -->
      <ul class="content">
      {% for tweet in tweets %}
      	<div class="tweetbox">
      		<img />
      		<li class="content by"><a href="/users/{{tweet.name}}">{{tweet.name}}</a></li>
        	<li class="content"><a href="/users/{{tweet.name}}/tweets/{{tweet.id}}">{{tweet.text}}</a></li>
        	<li class="content"><a href="#">Re-tweet</a></li>
        </div>
      {% endfor %}
      </ul>
    </div>
  </div>
    
{% endblock %}